import faust

app = faust.App(
    '{{app_name}}',
    broker='kafka://{{broker}}',
    value_serializer='raw',
)

{{topic_name}}_topic = app.topic('{{topic_name}}')

@app.agent({{topic_name}}_topic)
async def message({{topic_name}}):
    async for item in {{topic_name}}:
        print(item)
