import faust

app = faust.App(
    '{{app}}',
    broker='kafka://{{broker}}',
    value_serializer='raw',
)

{% for class_item in class_list -%}
class {{ class_item['name'] }}(faust.Record):
{% for attribute_item in class_item['attributes'] %}
    {{ attribute_item['name'] }} : {{ attribute_item['type'] -}}
{% endfor %}
{% endfor %}

greetings_topic = app.topic('greetings')

@app.agent(greetings_topic)
async def greet(greetings):
    async for greeting in greetings:
        print(greeting)
