from typing import List, Optional
from pydantic import BaseModel

class {{ item.name.capitalize() }}In(BaseModel):
    {% for property in item['properties'] %}
    {{-property['name']}} : {{property['type']}}
    {% endfor %}
    
    class Config:
        arbitrary_types_allowed = True

class {{ item.name.capitalize() }}Out({{ item.name.capitalize() }}In):
    id : int
    
    class Config:
        arbitrary_types_allowed = True

class {{ item.name.capitalize() }}Update(BaseModel):
    {% for property in item['properties'] %}
    {{-property['name']}} : None
    {% endfor %}

    class Config:
        arbitrary_types_allowed = True