from fastapi import FastAPI

{%-for item in classes %}
from {{project_name}}.api.{{ item.name.lower() }}s import {{ item.name.lower() }}s
{% endfor%}
from {{project_name}}.api.db import metadata, database, engine

tags_metadata = [
{%-for item in classes %}
    {
        "name": "{{item.name}}s",
        "description": "{{ item.description.capitalize() }}",
    },
{% endfor%}
]

metadata.create_all(engine)
app = FastAPI(
    title="{{ app_name.capitalize() }}",
    description="{{ description }}",
    version="{{ version }}",
    openapi_tags=tags_metadata
)



@app.on_event("startup")
async def startup():
    await database.connect()

@app.on_event("shutdown")
async def shutdown():
    await database.disconnect()

{%-for item in classes %}
app.include_router({{ item.name.lower() }}s)
{% endfor %}